h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    clear: both;
    font-family: $font__sans;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.6em;
}

h3{
    font-size: 2.2em;
}

h4{
    font-size: 2em;
}

h5{
    font-size: 1.8em;
}

h6{
    font-size: 1.5em;
}
