/* CSS Document */
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#main_nav{
    width: 100%;
    background-color: red;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}