.site-header{
    background-color: $color__background-header;
    padding: 1em;
    color: #333;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    height: 20%;
    width: 100%;
    
}

.site-logo{
    flex: 2 1 50%;
    align-self: center;
}

.site-branding{
    flex: 1 1 50%;
    display: block;
    align-self: center;
}

.site-title{
    font-family: $font__sans;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
    line-height: 1em;
    text-align: center;
    margin: 0px;
    a{
        color: $color__text-screen;
        text-decoration: none;
    }
}

.site-description{
    font-style: italic;
    font-size: .8em;
    text-align: center;
    margin: 0px;
}

@media screen and (min-width: $query_small){
    .site-logo{
        flex: 1 1 10%;
    }
    
    .site-branding{
        flex: 2 1 80%;
    }
    
    .site-title,.site-description{
        text-align: left;
    }
    
    .site-title{
        font-size: 2.5em;
    }
}