$color__background-body: #fff;
$color__background-header: #dbdbdb;
$color__background-main-nav: #333;
$color__background-screen: #fff;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__main-nav-link: #BBB;
$color__main-nav-link-visited: #AAA;
$color__main-nav-link-hover: #CCC;
$color__main-nav-link-active: #FFF;
$color__main-nav-link-current: gold;

$color__menu-toggle: rgba(0,0,0,0);
$color__menu-toggle-border: white;
$color__menu-toggle-text: white;

$color__text-screen: #333;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__link-current: gold;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
