$font__serif: 'Merriweather', Georgia, Cambria, "Times New Roman", Times, serif;
$font__sans: 'Magra', "Lucida Sans", Arial, sans-serif;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;