.main-navigation {
        background-color: $color__background-main-nav;
	display: block;
	width: 100%;
        height: 1.8em;
        a{
            color: $color__main-nav-link;
        }
        a:visited{
            color: $color__main-nav-link-visited;
        }
        a:active{
            color: $color__main-nav-link-active;
        }
        a:hover{
            color: $color__main-nav-link-hover;
        }
	ul {
		display: none;
		list-style: none;
		margin: 0px;
		padding-left: 0px;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
                        background-color: $color__background-main-nav;
			ul {
				left: -999em;
				top: 0;
			}

			li {
                                background-color: lighten($color__background-main-nav , 10%);
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
                                li{
                                    background-color: darken($color__background-main-nav , 10%);
                                }
			}

			a {
				width: 8em;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 8em;
		}
	}

	li {
          
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
            color: $color__link-current;
	}
}

/* Small menu. */
.menu-toggle{
    background-color: $color__menu-toggle;
    border-color: $color__menu-toggle-border;
    color: $color__menu-toggle-text;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
        flex-flow: column nowrap;
        background-color: $color__background-main-nav;
}

.main-navigation.toggled ul{
    position: absolute;
}

@media screen and (min-width: $query_medium) {
	.menu-toggle {
		display: none;
	}
        .main-navigation{
            height: auto;
        }
	.main-navigation ul {
		display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: stretch;
                li{
                    flex: 1 0 content;
                    text-align: center;
                    border: 1px solid white;
                    border-top: 0px;
                    border-left: 0px;
                    border-bottom: 0px;
                    &:last-child{
                        border: 0px;
                    }
                    a{
                        padding: .3em;
                    }
                }
                ul{
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    li{
                        border: 0px;
                    }
                }
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
